.add_btn_div {
    margin: 10px 100px;
}
.add_btn_div button{
    width: 100px;
    height: 40px;
    font-size: x-large;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
.popup_div{
    margin: 50px 30%;
    padding: 10px 100px;
    border-radius: 10px;
    background-color: rgba(163, 158, 151, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.popup_div input{
    width: 300px;
    height: 30px;
}
.popup_div button{
    width: 100px;
    height: 35px;
    font-size: larger;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
}